<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>{{ page.title }}</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">
    <link rel="stylesheet" href="/css/common.css">
  </head>
  
  
    <body>
  
      <header class="site-header" role="banner">
  这里是头部
  <hr>
  </header>
  
  
      <main class="page-content" aria-label="Content">
        {{ content }}
      </main>
  
      <footer class="site-footer">
          <hr>
这里是底部
  
  </footer>
  
  
    
  
  
  </body>
  </html>